<html>
<head>
	<title>FitBuddy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div class="container">
		<h1>FitBuddy</h1>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-outline-secondary homebtn" type="button"><a href="/">My Schedule</a></button>
				<button class="btn btn-outline-secondary homebtn" type="button"><a href="/error">Friends' Updates</a></button>
			</div>
		</div>
		<br>

		<div class="card bg-light mb-3">
			<div class="card-header">
				Today
			</div>
			<div class="card-body">
				<h5 class="card-title">Gym Workout</h5>
				<p class="card-text">24hr Fitness UTC</p>
				<p class="card-text">Feb 7, 17:00 - 18:00</p>
				<a href="#" class="btn-right">edit</a>
			</div>
		</div>

		<div class="card bg-light mb-3">
			<div class="card-header">
				Up Next
			</div>
			<div class="card-body">
				<h5 class="card-title">Cycling Class</h5>
				<p class="card-text">SPIN Cycle UTC</p>
				<p class="card-text">Feb 14, 14:00 - 15:00</p>
				<a href="#" class="btn-right">edit</a>
			</div>
		</div>

		<div class="card bg-light mb-3">
			<div class="card-header">
				Up Next
			</div>
			<div class="card-body">
				<h5 class="card-title">C2 Pilates</h5>
				<p class="card-text">COREPOWER YOGA</p>
				<p class="card-text">Feb 17, 17:00 - 18:00</p>
				<a href="#" class="btn-right">edit</a>
			</div>
		</div>

		<div class="card mb-3 invisible">
			<div class="card-header">
				Up Next
			</div>
			<div class="card-body">
				<h5 class="card-title">C2 Pilates</h5>
				<p class="card-text">COREPOWER YOGA</p>
				<p class="card-text">Feb 17, 17:00 - 18:00</p>
				<a href="#" class="btn-right">Edit</a>
			</div>
		</div>
			
		
		
	</div>

	<div class="navbar">
		<a href="/" class="active"><img src="media/home BLUE.png"></a>
		<a href="/error"><img src="media/collections.png"></a>
		<a href="/error"><img src="media/rewards.png"></a>
		<a href="/profile"><img src="media/profile.png"></a>
	</div>
</body>
</html>
