<html>
<head>
	<title>FitBuddy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div class="container">
		<h1>FitBuddy</h1>
		<h5>My Profile</h5>
		<div class="row">
			<div class="col-3">
				<img src="media/samplepic.png">
			</div>
			<div class="col-1"></div>
			<div class="col-7 profile">
				<h6>Jane Smith</h6>
				<span class="fontsmall">Date of Birth: April 16, 1998 (21)</span>
				What hurts today makes you stronger tomorrow <br>
				<a href="/error">edit</a>
			</div>
			<div class="col-1"></div>
		</div> <br>


		<button type="button" class="btn btn-light btn-lg btn-block"><img src="media/bodymeasurements.png"> Body Measurements</button>
		<br><br>
		<button type="button" class="btn btn-light btn-lg btn-block"><img src="media/myfriends.png"> My Friends</button>
		<br><br><br><br><br><br>
		<button type="button" class="btn btn-light btn-lg btn-block">Privacy</button>
		<br>
		<button type="button" class="btn btn-light  btn-lg btn-block">Logout</button>


	</div>

	<div class="navbar">
		<a href="/" class="active"><img src="media/home.png"></a>
		<a href="/error"><img src="media/collections.png"></a>
		<a href="/error"><img src="media/rewards.png"></a>
		<a href="/profile"><img src="media/profile BLUE.png"></a>
	</div>
</body>
</html>
